body {
  margin: 0;
}
.p-40, .p-40 * { box-sizing: border-box; }.p-40 {background: #dba6d0; width: 799.93px; height: 1132px; position: relative; overflow: hidden;}
 .p-40__rectangle-48 {background: #dba6d0; width: 799.93px; height: 1132px; position: absolute;top: 0px;}
 .p-40__rectangle-18 {background: #ffffff; width: 799.93px; height: 80.67px; position: absolute;top: 989.49px;}
 .p-40__logo-enneagram-universe-1-1 {width: 158.64px; height: 40.33px; position: absolute;top: 1009.66px;}
